@charset "utf-8";
/* CSS Document */
/*font-family: 'Montserrat', "sans-serif" ,"Consolas" */

*{
	margin: 0px;
	padding: 0px;
	color: #EAEAEA;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}
main{
	margin: 0px;
}
	
body{
	width: 100%;
	display: flex;
	flex-direction: column;	
}

/*----------------------HEADER------------------------*/

header {
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f52d32;
}
header a {
    margin-left: 50px;
}
#botonera ul {
    width: 500px;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
}
#botonera ul li {
    display: inline;
    
}
#botonera a {
    color: #f52d32;
    font-family: "coolvetica";
    font-weight: 400;
    font-size: 18px;
}
#botonera a:hover{
	font-size: 22px;
	color: yellowgreen;
}

.home {
    width: 100%;
    height: 580px;
    color: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.bienvenida {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.hola {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.hola p {
    font-family: "coolvetica";
    font-size: 40px;
    color: black;
}
#quiensoy {
    width: 100%;
    height: 600px;
    margin: 80px 0 80px 0;
    background-color: #b57cf0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.yo {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.articulo1 {
    width: 40%;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monserrat;
}

.titulo1 {
    color: white; 
    font-size: 25px;
    padding: 0 0 10px 0;
}
.articulo1 p {
    font-size: 17px;
    color: white;
}

footer {
    width: 100%;
    height: 100px;
    padding: 0px 50px 0px 50px;
    background-color:#f63c13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/*---------------------- habilidades------------------------*/


.flex-container {
	margin: 0 0 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
}
		
.flex-item {
	width: 1200px;
	height: auto;
    display: flex;
    flex-flow: wrap;
    align-content: center;
}
		
.habilidades {
	border-radius: 20px;
	margin: 1.5em;	
	transform: scale(1.0);
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	filter: drop-shadow(0 0 5px #333333);
}
	
.habilidades:hover {
    transform: scale(1.15);
	box-shadow: 0 0 5px #47CFE2, 0 0 20px #47CFE2, 0 0 40px #47CFE2;	
}


.cardinfo {
	position: absolute;
	font-size: 14px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	bottom: 2.5em;
	left: 2em;
	font-weight: 400
}


.subtitulo {
    margin: 70px 0 50px 150px;
	font-family: "coolvetica";
	font-size: 25px;
	color: black;
}

#test {
    width: auto;
    height: 750px;
    margin: 30px 0 0 0;
    background-color:#b57cf0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pantalla1 {
    width: 800px;
    height: 600px;
    margin: 0px 0 0px 20px;
    background: no-repeat; 
    border: white solid;
    border-radius: 30px;
    background-image: url("img/foto2.jpg");
	animation-name: galeria;
	animation-duration: 27s;
	animation-iteration-count:infinite;
	animation-delay: 1s;
}

@keyframes galeria:
	20% {background-image:  url("img/proyectoa1.jpg")
	40% {background-image:  url("img/proyectoa2.png")
	60% {background-image:  url("img/proyectoa3.jpg")
	80% {background-image:  url("img/proyectoa4.jpg")
	100% {background-image:  url("img/proyectob1.jpg")	
}



/*----------------------FOOTER------------------------*/
footer{
padding: 10px;
color:black;
background-color:#f63c13;

}
#redes-sociales{
	margin-left: 50px;
	padding: 0
}

.redes{
	padding: 20px 10px 20px 10px;
}

.redes:hover{
	color: #8eed69;
}

.copyright{
	width: 500px;
	display: flex;
	flex-direction: row;
	font-size: 13px;
	font-family: "coolvetica";
}