@charset "utf-8";
/* CSS Document */
/*font-family: 'Montserrat', "sans-serif" ,"Consolas" */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	color: black;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}
main{
	margin: 0px;
}
	
body{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

/*-HEADER-*/

header {
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f52d32;
}
header a {
    margin-left: 50px;
}

/*-NAV-*/
#botonera ul {
    width: 500px;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
}
#botonera ul li {
    display: inline;
    
}
#botonera a {
    color: #f52d32;
    font-weight: 600;
    font-size: 18px;
}
#botonera a:hover{
	font-size: 22px;
	color: #8eed69;
}

/*-FOOTER-*/
footer {
    width: 100%;
    height: 100px;
    padding: 0px 50px 0px 50px;
    background-color:#f63c13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	box-sizing: border-box;
}
#redes-sociales{
	display: flex;
	margin-left: 50px;
	padding: 0
}
.redes{
	padding: 20px 10px 20px 10px;
}
.copyright {
    width: 638px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 400;
	color:#EAE9E4;
}
/*---------------------- MAIN YO------------------------*/
.home {
    width: 100%;
    height: 580px;
    color: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	margin-top: 60px;
}
.bienvenida {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.hola {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.hola p {
    font-weight:400;
    font-size: 40px;
    color: black;
}
#quiensoy {
    width: 100%;
    height: auto;
    margin: 150px 0PX 70px 0PX;
    background-color: #b57cf0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.yo {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.articulo1 {
    width: 40%;
    height: 500px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: white;
    font-size: 70px;
    padding: 20px 260px 50px 0px;
    font-weight: 900;
}
.articulo1 p {
    font-size: 25px;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #EAE9E4;
    padding: 0px 3px 0px 0px;
}

/*-- EXPERIENCIA y  EDUCACION--*/
.centrados{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    color: #b57cf0;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.experiencia {
    border: 5px solid #b57cf0;
    border-radius: 20px;
    width: 330px;
    height: 124px;
    margin: 2%;
    padding:10px 30px 30px 30px;
}
.destacados {
    font-weight: 700;
    font-size: 20px;
}

.experiencia li{
	font-size: 18px;
	font-weight: 400;
}

.experiencia span{
	color: #b57cf0;
	font-weight: 600;
	font-size:18px;
}
/*--SKILS--*/

.flex-container {
	margin: 0px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
}
		
.flex-item {
	height: auto;
    display: flex;
    flex-flow: wrap;
}
		
.habilidades {
	border-radius: 20px;
	margin: 1.5em;	
	transform: scale(1.0);
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	filter: drop-shadow(0 0 5px black);
}
	
.habilidades:hover {
    transform: scale(1.15);
}

.cardinfo {
	font-size: 18px;
	font-weight:500;
}

/*---------------------- MAIN GALERIA------------------------*/

h3{
    width: 100%;
	margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    color:#f63c13;
}

#contenedor2 {
    width: 100%;
    height: 578px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#galeria {
    width:30%;
    height: 60%;
    margin-left: 20px;
    background: no-repeat; 
    border: #f63c13 solid 10px;
    border-radius: 30px;
    background-image: url("img/foto1.jpg");
	animation-name: fotos;
	animation-duration: 27s;
	animation-iteration-count:infinite;
}

@keyframes fotos {
	20% {background-image: url("img/foto1.jpg")}
	50% {background-image: url("img/foto2.jpg")}
	65% {background-image: url("img/foto3.jpg")}
	80% {background-image: url("img/foto4.jpg")}
	90% {background-image: url("img/foto5.jpg")}
	100% {background-image: url("img/foto6.jpg")}
}

/*----------------------MAIN CONTACTO-----------------------*/
.contenedor3{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:625px;
    padding: 50px 138px 24px 138px;
    background-color: #b57cf0;
}
.articulo3{
    padding-left: 70px;
}
h4{
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: white;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.form-direccion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contactame{
	font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #EAE9E4;
    padding-bottom: 20px;
    display: flex;
    align-items: center;	
}

.form-direccion{
	display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.controls {
    width: 400px;
	height: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
	border:0;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
}
.controls3 {
    width: 400px;
    height: 127px;
    padding: 10px;
    border-radius: 20px;
	border:0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
}
.botoncuenta {
    width: 40%;
    border-radius: 80px;
    background-color:#EAE9E4;
}

.botoncuenta a {
    font-weight: 600;
    font-size: 20px;
    padding: 10px 26px 10px 26px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f63c13;
}
.botoncuenta a:hover{
    font-size:22px;
	color:#8eed69;
}
.contactame {
    font-weight: 600;
    font-size: 40px;
    color: #EAE9E4;
    padding-left: 80px;
}


/*----------------------MEDIA-----------------------*/

@media screen and (max-width:360px){
	
    body {
        font-size: 1em;
    }
    nav ul{
        flex-direction: column;
        padding: 0px;
    }
    
    .saludo, .artista-container{
        display: none;
    }

    footer {
        width: 100%;
    }
    .container, .form-container3 {
        width: 100%;
        padding: 0px;
    }

    .form-container3 {
        padding: 40px;
        margin: auto;
        text-align: center;
    }

    .form-direccion {
        justify-content: center;
        align-items: center;
    }

    .form-container3 h1 {
        font-size: 2em;
        justify-content: center;
    }

    .controls, .controls3 {
        width: 80%;
    }
	#quiensoy{
		flex-direction: column;
	} 
	h1{
		font-size: 3em;
		padding: 0px;
	}
	.articulo1 p{
		font-size: 1em;
	}
	.centrados, .contenedor{
		flex-direction: column;
	}
	.experiencia{
		width: 70%;
	}
	.copyright{
		width: 100%;
	}
	footer{
		flex-direction: column;
	}
	#botonera ul{
		width: 100%;
	}
	.comentario{
		display: none;
	}
	.botoncuenta{
		width: 50%;
	}
	.contenedor3{
		padding: 0px;
	}
	.articulo3{
		padding-left: 10px;
	}
	#galeria{
		width: 90%;
		margin-left: 0px;
	}
}